* {
	padding: 0 0;
	margin: 0 0;
}

html, body {
	font-size: 100%;
}


// OFFCANVAS
.offcanvas-navbar {
	width: 320px;
	height: 100vh;
	position: fixed;
	left: -320px;
	padding-top: 60px;
	z-index: 750;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: all 600ms linear;
	background-color: $color-offcanvasbg;
	ul {
		width: 75%;
		margin: 0 auto;
		list-style: none;
		padding-top: 75px;
		li {
			width: 100%;
			text-align: center;
			padding: 0.75rem 0;
			a {
				color: $color-white;
				text-transform: uppercase;
				text-decoration: none;
				font-family: $font-opensans;
				font-size: 0.95rem;
				letter-spacing: 0.1rem;
			}
		}
	}
}


// NAVBAR
.primary-navbar {
	width: 100%;
	height: 60px;
	background-color: $color-blue1;
	position: fixed;
	display: flex;
	align-items: center;
	color: $color-white;
	font-family: $font-opensans;
	z-index: 1000;
	.hamburger-icon {
		height: 31px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin-right: auto;
		margin-left: 1rem;
		.hamburger-layer {
			width: 48px;
			height: 5px;
			display: block;
			background-color: white;
			position: relative;
			&:before {
				content: '';
				width: 48px;
				height: 5px;
				display: block;
				background-color: inherit;
				margin-top: 13px;
				position: absolute;
			}
			&:after {
				content: '';
				width: 48px;
				height: 5px;
				display: block;
				background-color: inherit;
				margin-top: -13px;
				position: absolute;
			}
		}
	}
		.hamburger-icon:hover {
			cursor: pointer;
	}
	.sign-in {
		margin-left: auto;
		margin-right: 1rem;
		a:link {
			color: $color-white;
			text-decoration: none;
		}
		a:visited {
			color: $color-white;
			text-decoration: none;
		}
	}
}


// HERO
.hero-image {	
	width: 100%;
	height: 570px;
	padding-top: 60px;
	color: $color-white;
	background-image: url("../img/Heroimage.jpg");
	background-size: cover;
	background-position: center center;
	.hero-overlay {
		background-color: rgba( 0, 55, 113, 0.5);
		position: relative;
		width: 100%;
		height: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	.cta-wrapper {
		width: auto;
		margin: 0 auto;
		text-align: center;
		position: relative;
		bottom: 400px;
		font-family: $font-opensans;
		h1 {
			font-variant: small-caps;
			letter-spacing: 0.3rem;
			font-size: 2.75rem;
			padding-bottom: 0.39rem;
			span {
				font-size: 2.35rem;
			}
		}
		p {
			width: 370px;
			font-size: 1.65rem;
			line-height: 1.65rem;
			padding-bottom: 1.2rem;
			margin: 0 auto;
		}
		.cta-button {
			width: 280px;
			height: 60px;
			border-radius: 14px;
			background-color: $color-blue2;
			border: 0;
			font-family: $font-opensans;
			color: $color-white;
			font-size: 1.35rem;
			text-transform: uppercase;
		}
		.download-button {

		}
	}
}


// CONTENT SECTIONS
.content-section {
	width: 100%;
	background-color: $color-white;
	padding: 0.75rem 0;
	&:nth-of-type(even) {
		background-color: $color-greybg;
	}
	.content-wrapper {
		font-family: $font-opensans;
		max-width: 60em;
		margin: 0 auto;
		padding: 0 2rem;
		h1 {
			font-size: 2.5rem;
			letter-spacing: 0.2rem;
			text-transform: uppercase;
			padding-bottom: 1.5rem;
		}
		p {
			text-align: center;
			font-size: 1.36rem;
		}
	}
	&:nth-of-type(even) .content-wrapper h1 {
		text-align: right;
	}
}


//ABOUT
.about-bookmark {
	padding-bottom: 50px;
}
.about-content {
	p {
		max-width: 960px;
		padding-bottom: 1.5rem;
		letter-spacing: 2.5px;
	}
	.about-image {
		width: 130px;
		height: 130px;
		border-radius: 65px;
		background-color: purple;
		background-image: url("../img/Aboutimg.png");
		background-size: cover;
		background-position: center center;
		margin: 0 auto;
	}
}


//EXPERIENCE
.experience-bookmark {
	padding-bottom: 50px;
}
.experience-content {
	.icon-wrapper {
		display: flex;
		justify-content: space-around;
		width: 86%;
		margin: 0 auto;
		padding-bottom: 4.5rem;
		padding-top: 2rem;
		@media #{$medium-down} {
			flex-wrap: wrap;
		}
		.icon-container {
			width: 24%;
			@media #{$medium-down} {
				width: 100%;
				padding-bottom: 3rem;
			}
			.icon {
				width: 178px;
				height: 178px;
				border-radius: 88px;
				background-color: $color-blue2;
				margin: 0 auto;
			}
			p {
				padding-top: 1rem;
				@media #{$medium-down} {
					width: 50%;
					margin: 0 auto;
				}
			}
		}
	}
}


//ICON IMAGES
.icon-left {
	background-image: url("../img/icon1.png");
	background-size: 92px 58px;
	background-position: center center;
	background-repeat: no-repeat;
}

.icon-middle {
	background-image: url("../img/icon2.png");
	background-size: 87px 83px;
	background-position: center center;
	background-repeat: no-repeat;
}

.icon-right {
	background-image: url("../img/icon3.png");
	background-size: 92px 70px;
	background-position: center center;
	background-repeat: no-repeat;
}


//CONTACT
.contact-bookmark {
	padding-bottom: 50px;
}
.contact-content {
	form {
		width: 100%;
		margin: 0 auto;
		div {
			display: flex;
			justify-content: space-around;
			input {
				font-family: $font-opensans;
				font-size: 1.3rem;
				color: $color-formtext;
				float: left;
				width: 40%;
				max-width: 360px;
				height: 1.5rem;
				margin: 0 auto;
				border: 10px solid $color-greybg;
				border-radius: 12px;
				margin-bottom: 0.75rem;
				padding: 0.55rem 0.55rem;
			}
			button {
				font-family: $font-opensans;
				clear: both;
				font-size: 1.3rem;
			}
			.contact-button {
				background-color: $color-blue3;
				width: 45%;
				max-width: 250px;
				padding: 0.8rem 0;
				border: 0;
				border-radius: 14px;
				margin-top: 30px;
				color: white;
				text-transform: uppercase;
			}
		}
		textarea {
			font-family: $font-opensans;
			font-size: 1.3rem;
			color: $color-formtext;
			width: 100%;
			max-width: 720px;
			height: 24em;
			margin: 0 5%;
			border: 10px solid $color-greybg;
			border-radius: 12px;
			clear: both;
			margin-top: 0.75rem;
			margin-bottom: 0.75rem;
			padding: 0.55rem 0.55rem;
		}
	}
}


//FOOTER
footer {
	.footer-wrapper {
		display: flex;
		justify-content: space-around;
		width: 100%;
		margin: 0 auto;
		background-color: $color-blue4;
		font-family: $font-opensans;
		.footer-container {
			width: 33.33333%;
			margin-top: 2rem;
			margin-bottom: 2rem;
			color: $color-white;
			border-right: 1px solid rgba( 255, 255, 255, 0.6);
			h1 {
				text-transform: uppercase;
				text-align: center;
				letter-spacing: 2px;
				border-bottom: 1px solid $color-white;
				margin: 0 auto;
				margin-bottom: 1.5rem;
			}
			&:last-of-type {
				border: 0;
			}
			.social-section {
				h1 {
					width: 144px;
				}
				.icon-container {
					width: 166px;
					margin: 0 auto;
					&:first-of-type {
						padding-bottom: 1rem;
					}
					.social-icon {
						width: 64px;
						height: 64px;
						border-radius: 32px;
						background-color: $color-white;
						margin: 0 auto;
					}
					a {
						background-color: transparent;
					}
					.facebook-icon {
						width: 64px;
						height: 64px;
					}
					.twitter-icon {
						width: 64px;
						height: 64px;
					}
					.instagram-icon {
						width: 64px;
						height: 64px;
					}
					.linkedin-icon {
						width: 64px;
						height: 64px;
					}
				}
			}
			.related-section {
				h1 {
					width: 172px;
				}
				.related-links {
					display: block;
					text-transform: uppercase;
					list-style: none;
					margin: 0 auto;
					height: 132px;
					width: 60%;
					min-width: 114px;
					li {
						font-size: 170%;
						width: 70%;
						padding-bottom: 3px;
						float: left;
						white-space: nowrap;
						&:nth-of-type(even) {
							text-align: left;
							width: 30%;
						}
					}
				}
			}
			.other-section {
				text-align: center;
				text-transform: uppercase;
				h1 {
					width: 132px;
				}
				p {
					width: 22rem;
					margin: 0 auto;
					letter-spacing: 1px;
					word-spacing: 5px;
					line-height: 29px;
				}
			}
		}
	}
	.bottom-bar {
		font-family: $font-opensans;
		font-size: 1.3rem;
		color: white;
		background-color: $color-blue5;
		text-align: right;
		span {
			margin-right: 1rem;
		}
	}
}


//MODAL
.modal-wrapper {
	background-color: rgba( 0, 0, 0, 0.65 );
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	visibility: hidden;
	opacity: 0;
	transition: all 600ms linear;
	.modal {
		background-color: $color-white;
		position: relative;
		margin: 20% auto;
		width: 50%;
		min-width: 300px;
		max-width: 540px;
		height: 40vh;
		min-height: 250px;
		max-height: 448px;
		border-radius: 8px;
		text-align: center;
		font-family: $font-opensans;
		padding: 1.5rem 1.5rem;
		h1 {
			width: auto;
			padding-top: 2vh;
			padding-bottom: 8vh;
			text-transform: uppercase;
			font-style: italic;
			letter-spacing: 1.5px;
		}
		p {
			padding-top: 0;
			padding-bottom: 14vh;
			font-size: 140%;
		}
		.modal-button {
			background-color: $color-blue4;
			width: 30%;
			padding: 0.5rem 0;
			margin-top: 0;
			border: 0;
			border-radius: 14px;
			color: white;
			font-size: 110%;
			@media #{$small-down} {
			}
		}
		.modal-close {
			position: absolute;
			top: 0;
			right: 0;
			padding: 0.5rem;
		}
	}
}




@media #{$medium-down} {
	footer {
		.footer-wrapper {
			flex-wrap: wrap;
			.footer-container {
				width: 100%;
				padding-bottom: 3rem;
				border-right: 0;
				border-bottom: 1px solid;
				.related-section .related-links li {
					width: 50%;
					text-align: center;
					&:nth-of-type(even) {
						width: 50%;
						text-align: center;
					}
				}
			}
		}
	}
}