// BREAKPOINTS
$breakpoint-xsmall: 480px;
$breakpoint-small: 768px;
$breakpoint-medium: 1024px;
$breakpoint-large: 1440px;
$breakpoint-xlarge: 1920px;
$breakpoint-xxlarge: 2560px;


// MEDIA QUERIES
$xsmall-down: "only screen and (max-width: #{$breakpoint-xsmall})";
$xsmall-only: "only screen and (min-width: #{$breakpoint-xsmall}) and (max-width: #{$breakpoint-small})" !default;

$small-up: "only screen and (min-width: #{$breakpoint-small})";
$small-down: "only screen and (max-width: #{$breakpoint-small})";
$small-only: "only screen and (min-width: #{$breakpoint-small}) and (max-width: #{$breakpoint-medium})" !default;

$medium-up: "only screen and (min-width: #{$breakpoint-medium})";
$medium-down: "only screen and (max-width: #{$breakpoint-medium})";
$medium-only: "only screen and (min-width: #{$breakpoint-medium}) and (max-width: #{$breakpoint-large})" !default;

$large-up: "only screen and (min-width: #{$breakpoint-large})";
$large-down: "only screen and (max-width: #{$breakpoint-large})";
$large-only: "only screen and (min-width: #{$breakpoint-large}) and (max-width: #{$breakpoint-xlarge})" !default;

$xlarge-up: "only screen and (min-width: #{$breakpoint-xlarge})";
$xlarge-down: "only screen and (max-width: #{$breakpoint-xlarge})";
$xlarge-only: "only screen and (min-width: #{$breakpoint-xlarge}) and (max-width: #{$breakpoint-xxlarge})" !default;

$xxlarge-up: "only screen and (min-width: #{$breakpoint-xxlarge})";

// COLOR PALETTE
$color-white: rgba( 255, 255, 255, 1 );
$color-blue1: rgba( 0, 126, 255, 1 );
$color-blue2: rgba( 0, 109, 221, 1 );
$color-blue3: rgba( 38, 131, 226, 1 );
$color-blue4: rgba( 0, 98, 199, 1 );
$color-blue5: rgba( 0, 76, 155, 1 );
$color-offcanvasbg: rgba( 68, 160, 255, 0.65 );
$color-greybg: rgba( 242, 242, 242, 1 );
$color-formtext: rgba( 213, 213, 213, 1 );


// FONTS
$font-opensans: "Open Sans", arial, sans-serif;