// color palette
$color-white: rgba( 255, 255, 255, 1);
$color-blue1: rgba( 0, 126, 255, 1);
$color-blue2: rgba( 0, 109, 221, 1);
$color-blue3: rgba( 0, 109, 221, 1);

$color-greybg: rgba( 242, 242, 242, 1);

//fonts
$font-opensans: "Open Sans", arial, sans-serif;